.checkboxes {
  max-width: 1000px;
  margin: 0 auto 20px auto;

  &__button {
    display: block;
    color: var(--white-color);
    padding: 13px 15px;
    margin-bottom: 20px;
    background-color: var(--first-color);
    text-transform: uppercase;
  }

  &__name {
    margin: 0 15px 0 5px;
    color: var(--first-color);
  }
}
